# Automatically sets up your codex environment whenever you cd into this
# directory via our direnv integration:

use_codex() {
    watch_file codex.json
    if [ -f .codex/gen/flake/flake.nix ]; then
        CODEX_SHELL_ENABLED_BACKUP=$CODEX_SHELL_ENABLED
        eval "$(codex shellenv --init-hook)"
        export CODEX_SHELL_ENABLED=$CODEX_SHELL_ENABLED_BACKUP
    fi
}
use codex

# check out https://www.khulnasoft/codex/docs/ide_configuration/direnv/
# for more details
