FROM khulnasoftcom/codex:latest

WORKDIR /code
USER root:root
RUN mkdir -p /code && chown ${CODEX_USER}:${CODEX_USER} /code
USER ${CODEX_USER}:${CODEX_USER}

{{- /*
Ideally, we first copy over codex.json and codex.lock and run `codex install` 
to create a cache layer for the dependencies. This is complicated because
codex.json may include local dependencies (flakes and plugins). We could try
to copy those in (the way the dev Dockerfile does) but that's brittle because
those dependencies may also pull in other local dependencies and so on. Another
sulution would be to add a new flag `codex install --skip-errors` that would 
just try to install what it can, and ignore the rest.

A hack to make this simpler is to install from the lockfile instead of the json.
*/}}

COPY --chown=${CODEX_USER}:${CODEX_USER} . .

RUN codex install

RUN {{ .CodexRunInstall }}

RUN {{ .CodexRunBuild }}

CMD [{{ .Cmd }}]
