# Automatically sets up your codex environment whenever you cd into this
# directory via our direnv integration:

eval "$(codex generate direnv --print-envrc)"

# check out https://www.khulnasoft/codex/docs/ide_configuration/direnv/
# for more details
